---
layout: bootcamp
root: .
venue: Coastal Institute, University of Rhode Island
address: Hazard Conference Room, 215 South Ferry Road, Narragansett, RI 02882
country: United-States
humandate: Jan 13-14, 2014
humantime: 8:00 am - 4:00 pm
startdate: 2014-01-13
enddate: 2014-01-14
latlng: 41.492635,-71.422294
registration: restricted
instructor: ["Patrick Fuller", "Ivan Gonzalez"]
contact: igonzalez@mailaps.org
---

<p><a href="https://etherpad.mozilla.org/VwFzJItzaE">Etherpad Link</a></p>

<p>
  <strong>Hosts:</strong> Co-hosted by <a href="http://www.ci.uri.edu/">The Coastal Institute</a> of the University of Rhode Island and the US Environental Protection Agency's, <a href="http://www.epa.gov/aed">Atlantic Ecology Division</a>
  </p>

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

Participants in the bootcamp should have installed some software in their
laptops *prior* to arriving to the bootcamp. Please follow the instructions
below for your operating system.


<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
    {% include setup/overview-r.html %}
  </div>
</div>

<hr/>

<h2 id="bootcampschedule">Bootcamp Schedule</h2>

<h4 id="mondayjanuary132014">MONDAY JANUARY 13, 2014</h4>

<table border="1">
    <tr> <th> Topic </th><th> Date </th><th> Time </th><th> Instructor </th></tr>
    <tr> <td> Welcome and Introduction </td><td> 01/13/2014 </td><td> 8:00 AM -
            8:10 AM </td><td> Jeff Hollister </td></tr>
    <tr> <td> Logistics and Software Test </td><td> 01/13/2014 </td><td> 8:10
            AM - 8:30 AM </td><td> Ivan Gonzalez </td></tr>
    <tr> <td> <a
                href="https://github.com/iglpdc/2014-01-13-uri/tree/master/05-shell">Using
                the Shell</a> </td><td>  01/13/2014 </td><td> 8:30 AM - 10:00
            AM </td><td> Patrick Fuller </td></tr>
    <tr> <td> <em>BREAK</em> </td><td> 01/13/2014 </td><td> 10:00 AM - 10:15 AM
        </td><td> </td></tr>
    <tr> <td> <a
                href="https://github.com/iglpdc/2014-01-13-uri/blob/gh-pages/rLessons/Intro.md">Introduction
                to R and RStudio</a></td><td> 01/13/2014 </td><td> 10:15 AM -
            12:00 PM </td><td> Patrick Fuller </td></tr>
    <tr> <td> <em>LUNCH</em> </td><td> 01/13/2014 </td><td> 12:00 PM - 12:45 PM
        </td><td> </td></tr>
    <tr> <td> <a
                href="https://github.com/iglpdc/2014-01-13-uri/blob/gh-pages/rLessons/Data.md">Dealing
                with Data in R</a> </td><td> 01/13/2014 </td><td> 12:45 PM -
            2:30 PM </td><td> Jeff Hollister </td></tr>
    <tr> <td> <em>BREAK</em> </td><td> 01/13/2014 </td><td> 2:30 PM - 2:45 PM
        </td><td> </td></tr>
    <tr> <td> <a
                href="https://github.com/iglpdc/2014-01-13-uri/blob/gh-pages/rLessons/Functions.md">R
                Functions</a></td><td> 01/13/2014 </td><td> 2:45 PM - 4:00 PM
</td><td> Jeff Hollister </td></tr>
</table>

<h4 id="tuesdayjanuary142014">TUESDAY JANUARY 14, 2014</h4>

<table border="1">
<tr><th> Topic </th><th> Date </th><th> Time </th><th> Instructor </th></tr>
<tr><td> <a
            href="https://github.com/iglpdc/2014-01-13-uri/tree/gh-pages/06-version-control/local.md">Git</a> </td><td>  01/14/2014 </td><td> 8:00 AM - 10:00 AM
    </td><td> Ivan Gonzalez </td></tr>
<tr><td> <em>BREAK</em> </td><td> 01/14/2014 </td><td> 10:00 AM - 10:15 AM
    </td><td> </td></tr>
<tr><td> <a href="https://github.com/iglpdc/2014-01-13-uri/tree/gh-pages/06-version-control/remote.md">Git and GitHub</a> </td><td>  01/14/2014 </td><td> 10:15
        AM - 12:00 PM </td><td> Ivan Gonzalez </td></tr>
<tr><td> <em>LUNCH</em> </td><td>01/14/2014 </td><td> 12:00 PM - 12:45 PM
    </td><td> </td></tr>
<tr><td> <a
            href="https://github.com/iglpdc/2014-01-13-uri/tree/gh-pages/07-testing">Testing and Debugging with R</a> </td><td> 01/14/2014
    </td><td> 12:45 PM - 2:30 PM </td><td> Ivan Gonzalez </td></tr>
<tr><td> <em>BREAK</em> </td><td> 01/14/2014 </td><td> 2:30 PM - 2:45 PM
    </td><td> </td></tr>
<tr><td> <a
            href="https://github.com/iglpdc/2014-01-13-uri/tree/master/08-databases">Introduction
            to Databases</a> </td><td> 01/14/2014 </td><td> 2:45 PM - 2:30 PM
</td><td> Patrick Fuller </td></tr>
</table>

<h4 id="wednesdayjanuary152014">WEDNESDAY JANUARY 15, 2014</h4>

<table border="1">
    <tr><th> Topic </th><th> Date </th><th> Time </th><th> Instructor </th></tr>
    <tr><td> <a
                href="https://github.com/iglpdc/2014-01-13-uri/blob/gh-pages/rLessons/DataViz.md">Intro
                to Data Viz in R</a></td><td> 01/15/2014 </td><td> 8:00 AM -
            10:00 AM </td><td> Jeff Hollister </td></tr>
    <tr><td> <em>BREAK</em> </td><td> 01/15/2014 </td><td> 10:00 AM - 10:45 AM
        </td><td> </td></tr>
    <tr><td> Wrap-up and next steps </td><td> 01/15/2014 </td><td>10:45 AM -
            12:00 PM </td><td> </td></tr>
    <tr><td> <em>LUNCH</em> </td><td>01/14/2014 </td><td> 12:00 PM - 12:45 PM
    </td><td> </td></tr>
</table>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
</ul>
