---
layout: bootcamp
root: .
venue: Coastal Institute, University of Rhode Island
address: Hazard Conference Room, 215 South Ferry Road, Narragansett, RI 02882
country: United-States
humandate: Jan 13-14, 2014
humantime: 8:00 am - 4:00 pm
startdate: 2014-01-13
enddate: 2014-01-14
latlng: 41.492635,-71.422294
registration: restricted
instructor: ["Patrick Fuller", "Ivan Gonzalez"]
contact: igonzalez@mailaps.org
---
<p>
  <strong>Hosts:</strong> Co-hosted by <a href="http://www.ci.uri.edu/">The Coastal Institute</a> of the University of Rhode Island and the US Environental Protection Agency's, <a href="http://www.epa.gov/aed">Atlantic Ecology Division</a>
</p>

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/r.html %}
{% include bootcamps/contact.html %}

<hr/>
